.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.cards-list-products {
  background-color: #e8e9a1;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.cards-add-products {
  background-color: #e5707e;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.cards-list-products--items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-list-products--items > a {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 100px;
}

.cards-list-products--items > a:hover {
  color: #fff;
  text-decoration: none;
}

.cards-add-products--items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-add-products--items > a{
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 100px;
}

.cards-add-products--items > a:hover {
  color: #fff;
  text-decoration: none;
}